// https://coolors.co/af9164-f7f3e3-b3b6b7-454851-2b2118
$darkBrown: #2B2118;
$lightBrown: #AF9164;
$darkGrey: #454851;
$lightGrey: #B3B6B7;
$wheat: #F7F3E3;
$coral: #DF7373;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: $darkBrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 30px 5px;
    position: fixed;
        img{
            width: 50px;
        }
        ul{
            display: flex;
            
            li{
                list-style: none;
                padding: 0 30px;
                a{
                    color: $wheat;
                    text-decoration: none;
                    margin: auto 0;
                }
            }
        }
}

.homePage{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    .leftBox{
        background: linear-gradient(to top, #E3D9C9, #F7F3E3);
        width: 40vw;
        height: 100vh;
        position: relative;
        .introCard{
            width: 25vw;
            height: 75vh;
            background: $wheat;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            position: absolute;
            top: 130px;
            left: 300px;
            text-align: center;
            padding: 30px 0;
            color: $lightBrown;
            img{
                width: 200px;
                border-radius: 50%;
                margin: 30px 0;
            }
            h1,h3{
                letter-spacing: 5px;
                font-weight: 400;
            }
            p{
                border-bottom: 3px solid $coral;
                width: 50px;
                margin: 20px auto;
            }
            .icon{
                margin: 20px auto;
                
                .github,.linkedin{
                    fill: $darkBrown;
                    font-size: 25px;
                    margin: 10px;
                }
            }
            
        }
    }
    .rightBox{
        width: 50vw;
        padding: 150px 50px;
        color: $darkBrown;
        position: relative;
        h2{
            margin-bottom: 15px;
            font-weight: 100;
            font-size: 100px;
        }
        h3{
            margin-bottom: 15px;
            font-weight: 100;
            font-size: 30px;
        }
        p{
            width: fit-content;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 3px solid $coral;
            padding-right: 15px;
            padding-left: -10px;
        }
        img{
            position: absolute;
            z-index: -1;
            transform:rotate(180deg);
            bottom: 0;
            right: 0;
            width: 900px;
            height: 150px;
        }
    }
}

.portfolio{
    width: 100%;
    height: 180vh;
    padding-top: 100px;
    background: linear-gradient(to bottom, #E3D9C9, #F7F3E3);
    h1{
        padding: 10px 0;
        font-weight: 100;
        text-align: center;
        color: $darkGrey;
        margin: auto;
        background: url(../img/titlebg.svg) center/15% no-repeat border-box;
    }
    .projects{
        width: 1000px;
        height: 500px;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        
        .project{
            width:45%;
            height: 45%;
            background: $wheat;
            margin: 50px auto;
            display: flex;
            position: relative;

            &:hover img{
               opacity: .5;
            }

            &:hover .info{
                opacity: 1;
            }
            
            img{
                width: 100%;
                object-fit: cover;
                transition: .5s ease all;
            }
            .info{
                width: 300px;
                height: 150px;
                position: absolute;
                left: 75px;
                top: calc(112.5px - 75px);
                opacity: 0;
                border-radius: 5px;
                background-color: $lightBrown;
                transition: .1s ease all;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
                color: $wheat;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 30px 0;
                a{
                    background-color: $wheat;
                    color: $lightBrown;
                    text-align: center;
                    text-decoration: none;
                    border: none;
                    width: 150px;
                    margin: auto;
                    margin-top: 10px;
                    padding: 5px 0;
                    border-radius: 5px;
                }
            }
        }
    }
    
}

.resume{
    // height: 100vh;
    background-color: $wheat;
    padding-top: 100px;
    
    h1{
        padding: 10px 0;
        font-weight: 100;
        text-align: center;
        color: $darkGrey;
        margin: auto;
        background: url(../img/titlebg.svg) center/15% no-repeat border-box;
    }
    .section{
        width: 1000px;
        margin: auto;
        padding-bottom: 50px;
        .about{
            margin: 50px 0;
            font-weight: 200;
        }
        .experience{
            .iii{
                width: 800px;
                height: 300px;
                border-radius: 5px;
                background-color: white;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                margin: auto;
            }
        }
        
    }
}

.contact{
    height: calc(100vh - 60px);
    background: linear-gradient(to bottom, #F7F3E3, #B3B6B7);
    padding-top: 60px;


}